<% content_for :title, 'Wine Database' %>

<ol class="breadcrumb">
  <li class="active"><%= link_to 'Home', root_path %></li>
</ol>

<div class="view-container">
  <div ng-view class="view-frame animate-view"></div>
</div>
